entity: CountryEntity
processor: ../processor/countryProcessor
items:
  country1: {}
  country2: {}
  country3: {}
  country4: {}
  country5: {}
  country6: {}
  country7: {}
  country8: {}
  country9: {}
  country10: {}
  country11: {}
  country12: {}
  country13: {}
  country14: {}
  country15: {}
  country16: {}
  country17: {}
  country18: {}
  country19: {}
  country20: {}
