entity: CountryEntity
processor: ../processor/CountryProcessor
items:
  country1:
    code: IN
    name: Inde
    emoji: 🇮🇳
    continent: ASIA
  country2:
    code: CH
    name: Chine
    emoji: 🇨🇳
    continent: ASIA
  country3:
    code: BE
    name: Belgique
    emoji: 🇧🇪
    continent: EU
  country4:
    code: FR
    name: France
    emoji: 🇫🇷
    continent: EU
  country5:
    code: US
    name: États-Unis
    emoji: 🇺🇸
    continent: NA
  country6:
    code: BR
    name: Brésil
    emoji: 🇧🇷
    continent: SA
  country7:
    code: JP
    name: Japon
    emoji: 🇯🇵
    continent: ASIA
  country8:
    code: ZA
    name: Afrique du Sud
    emoji: 🇿🇦
    continent: AFRICA
  country9:
    code: AU
    name: Australie
    emoji: 🇦🇺
    continent: OCEANIA
  country10:
    code: DE
    name: Allemagne
    emoji: 🇩🇪
    continent: EU
  country11:
    code: IT
    name: Italie
    emoji: 🇮🇹
    continent: EU
  country12:
    code: CA
    name: Canada
    emoji: 🇨🇦
    continent: NA
  country13:
    code: AR
    name: Argentine
    emoji: 🇦🇷
    continent: SA
  country14:
    code: EG
    name: Égypte
    emoji: 🇪🇬
    continent: AFRICA